.divHead {
	background-color:red; 
	color:white;
	height:120;
	vertical-align: middle;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	
}
h1, h2{
	text-align: center;
	font-family:'arial black';
	margin-top: 10;
}

body {
	/*margin-top: 120px;*/
	padding-top: 180px;
	padding-bottom: 15px;
}
.corsePrinc {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.isrizioni {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



.titoloH {
	text-align:center;
}

.logo {
	position: fixed; 
	right: 0;
	top: 0;
	height: 120;
	width: 120;
	z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  
}

.formInserimento {
	text-align: center;
	font-size: 20px;
}
.formInserimento input {
	width: 50%;
	height: 40px;
	text-align: center;
	font-size: 17px;
}
.formInserimento input:focus {
	background-color:#F5FFFD;
	border: 2px solid #555;
}

.formInserimento input[type=submit] {
	font-size: 25px;
	font-family: calibri;
	width: 45%;
}

.iconIns {
	width: 20px;
	height: 20px;
}

.righeCorse {
	height: 2rem;
	vertical-align: middle;	
    background-color: white;
}
.righeCorse:hover {
    background-color: #f2f2f2;
}


table {	
	border-collapse: collapse;
	border: 1px solid #BAB7B7;

}
th {
	border : 1px solid #7F7F7F;
	font-size: 1.5rem;
	color: #363532;
	background: #FFFDF9;
	font-family: 'calibri';
}

td {
	text-align: center;
	
}


.toolbar {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	height: 55px;
	background-color: #C81010; 
	color:white;

	font-size: 1.2rem;
	position: fixed;
	top: 120;
	left: 0;
	width: 100%;
	z-index: 2;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 10px 10px;
}

.postBackUtenti {
	border: 0px;
}

.object {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	

	/*border: 1px solid #ED9E9E;*/
	height: 55px;
	user-select: none; 
	/*width: 180px;*/
	/*text-align: center;
	vertical-align: middle;*/

}

.object:hover {
	background: #ddd;
 	color: black;
}


.footerCredits {
	font-family: Georgia, serif;
	height: 15px;
	
	width: 100%;
	z-index: 2;
	background-color: #ddd; 
	position: fixed;
    bottom: 0;
	left: 0px;
	right: 0px;
	text-align: center;
	display: flex;
	justify-content: center;
	border-radius: 10px 10px 10px 10px;
	font-size: 13px;

}

.githubImg {
	height: 12px;
	width: 12px;
	z-index: 3;
	padding-left:4em 
}

.menuAnagrafiche {
	/*resize width on click of gestione anagrafiche*/
	display: none;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: left;
	flex-direction: column;;
	/*height: 55px;*/
	background-color: #981000; 
	color:white;

	position: fixed;
	
	
	top: 175;
	left: 10;
	width: 170px;
	z-index: 2;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 10px 10px;	
}

.objectAnagrafiche {
	padding-bottom: 4px;
	padding-left: 20px;
}
.objectAnagrafiche:hover {
	background: #ddd;
 	color: black;
}


.iscrizione input{
	width: 10rem;
	height: 4rem;
	font-size: 1.7rem;
	font-family: 'calibri';
	color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 3px 3px 3px 3px;
	border: 0px;
	margin-left: 20px;
	margin-right: 20px;
}

.iscrizione input[value=conferma] {
	background: #40CF12;
}

.iscrizione input[value=annulla] {
	background: #E83737;
}


.righeCorse input{
	width: 5rem;
	height: 2rem;
	font-size: 1rem;
	font-family: 'calibri';
	color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 3px 3px 3px 3px;
	border: 0px;
	/*margin-left: 20px;
	margin-right: 20px;*/
	margin-top: 5px;
}

.righeCorse td {
	text-align: center;
	vertical-align: middle;
}

.righeCorse input[value=iscrivi] {
	background: #40CF12;
}

.righeCorse input[value=disiscrivi] {
	background: #E83737;
}