.divHead {
	background-color:red; 
	color:white;
	height:120;
	vertical-align: middle;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	
}
h1, h2{
	text-align:center;
	font-family:'arial black';
	margin-top: 10;
}

.toolbar {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	height: 55px;
	background-color: #C81010; 
	color:white;

	position: fixed;
	top: 120;
	left: 0;
	width: 100%;
	/*padding: 10px;*/
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 2;
	 /* Initially hide the toolbar */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	
}

body {
	/*margin-top: 120px;*/
	padding-top: 180px;
}
.corsePrinc {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.isrizioni {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



.titoloH {
	text-align:center;
}

.logo {
	position: fixed; 
	right: 0;
	top: 0;
	height: 120;
	width: 120;
	z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  
}

.formInserimento {
	text-align: center;
	font-size: 20px;
}
.formInserimento input {
	width: 50%;
	height: 40px;
	text-align: center;
	font-size: 17px;
}
.formInserimento input:focus {
	background-color:#F5FFFD;
	border: 2px solid #555;
}

.formInserimento input[type=submit] {
	font-size: 25px;
	font-family: calibri;
	width: 45%;
}

.iconIns {
	width: 20px;
	height: 20px;
}

.righeCorse {
	height: 2rem;
	vertical-align: middle;

}

table {	
	border-collapse: collapse;
	border: 1px solid #BAB7B7;
}
th {
	border : 1px solid #7F7F7F;
}

td {
	text-align: center;
	
}

.postBackUtenti {
	border: 0px;
}

